<!DOCTYPE html>
<html>
<head>
  <title>CF mod</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/libs.css" />
  <link rel="stylesheet" href="/lib.css" />
  <style type="text/css">
    body > nav { font-size:18px;height:32px;padding:1px 10px;border-bottom:solid 1px gray;margin-bottom:20px }

    .container { padding:15px;margin-top:-30px }
    h2 { font-size:14px;font-weight:bold }
    h3 { font-size:16px;color:black;width:640px;border-bottom:solid 1px #d3d3d3; padding:4px 0;margin:3px 0}
    h4 { font-family:courier;padding:3px 0 3px 0;margin:0 }
    h5 { padding:1px;margin:1px; }
    h6 { padding:1px 1px 1px 56px;margin:1px; }
    var { display:inline-block;color:black;font-style:normal;width:40px;text-align:right;margin-right:14px }
    code { display:inline-block;color:green;min-width:70px }
    dfn { display:inline-block;color:blue;min-width:60px;font-style:normal; }
    hr { padding:2px;margin:0;max-width:640px }
  </style>
  <base href="/" />
</head>
<body>
<nav>
  [<a href="/mod/goals">goal</a>]
  [<a href="/mod/users">users</a>]
  [<a href="/mod/comm">comm</a>]
  [<a href="/mod/templates">tmpl</a>]
  [<a href="https://addons-sso.heroku.com/apps/bf1538b4-346f-4520-bfe9-39682930968a/addons/d76ab981-67bb-4a2e-bc3f-59cef9bbcc4e" target="_blank">log</a>]
  [<a href="https://analytics.google.com/analytics/web/#dashboard/2cql4rX8SIWNcHyco1FKbw/a1693127w9690184p10116804/" target="_blank">ga</a>]
  [<a href="https://www.facebook.com/analytics/231062836925414/?section=overview" target="_blank">fba</a>]
  []
</nav>

<div class="container">
{{{body}}}
</div>


</body>
</html>
