<!DOCTYPE html>
<html>
<head>
  <title>Climbfind climbing partner community</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">{{#if noindex }}
  <meta name="robots" content="noindex, nofollow">{{else}}
  <meta name="robots" content="index, nofollow">{{/if}}
  <link rel="stylesheet" href="/libs.css" />
  <link rel="stylesheet" href="/lib.css" />  
  <link rel="stylesheet" href="/app.css" />
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <base href="/" />
</head>
<body>

  <header>
    <a href="/" tile="Find rock climbing partners" target="_self"><i></i><span><b>Climb</b>find</span></a>
  </header>


  {{{body}}}

  {{#if authenticated}}
    <footer>
      <ul>
        <li><a id="f-home" class="ion-ios-list" href="/" target="_self"></a></li><li><a id="f-inbox" class="ion-chatboxes" href="/messages" target="_self"></a></li><li><a id="f-post" class="ion-compose" href="/climbing-partners" target="_self"></a></li><li><a id="f-love" class="ion-heart" href="/love" target="_self"></a></li><li><a id="f-account" class="ion-person" href="/account" target="_self"></a></li>
      </ul>
    </footer>
    <script type="text/javascript"> 
      if (document.getElementById('f-{{view}}'))
        document.getElementById('f-{{view}}').className += " active";      
    </script>
  {{/if}}

</body>
</html>