<div id="legal" class="container" style="max-width:94%;margin:auto;width:640px;text-align:justify;padding:60px 2px">

<h5>Agreements last modified on Aug 01, 2017</h5>

<h3>Terms of Service</h3>

<p>Please read these Terms of Service. By accessing or using <code>https://www.climbfind.com</code> ("Climbfind") in any manner, including, but not limited to, visiting, browsing, messaging and posting, you agree to be bound by our Disclaimers and Limitation of Liability.</p>

<h4>Disclaimers</h4>

<p>You use Climbfind at your sole risk. Climbfind, it's member database and collective content are provided “AS IS”, without warranty of any kind, either express or implied. Without limiting the foregoing, Climbfind explicitly disclaims any warranties of merchantability, fitness for a particular purpose, quiet enjoyment or non-infringement, and any warranties arising out of usage.</p>

<p>You are solely responsible for all of your communications and interactions with other Climbfind users and other persons with whom you communicate or interact with as a result of your use of Climbfind.</p>
<p>You understand that Climbfind does not make any attempt to verify the statements of its  users. Climbfind makes no representation or warranties as to the conduct of users of the site  or their compatibility with any current or future Climbfind users. You agree to take reasonable precautions in all communications and interactions with other Climbfind usersand with other persons with whom you communicate, meet in person or climb with.</p>

<h4>Limitation of Liability</h4>
<p>You acknowledge and agree that, to the maximum extent permitted by law. Neither Climbfind nor any other party will be liable for any incidental, special, exemplary or consequential damages for personal or bodily injury or emotional distress arising out of or in connection using Climbfind, or meetings other users of the site.</p>



<h3>Privacy Policy</h3>

<h4>Information Collection and Use</h4>
<p>Climbfind collects information in order to analyze how the Service is used, diagnose service or technical problems, maintain security, personalize content, monitor aggregate metrics such as total number of visitors, traffic, demographic patterns, and track users as necessary to comply with the Digital Millennium Copyright Act and other applicable laws.</p>

<h4>User-Provided Information</h4>
<p>You provide information about yourself, such as your name and e-mail address, when you sign in with facebook and create an account with climbfind.com. Your full name and photo are available for public viewing on the Service. We use your e-mail address to send you Service-related notices. You can control receipt of- certain Service-related messages on your Settings page.</p>

<p>You also provide us information in content you post to the Service. Content you post to public areas of the Service may be publicly viewed. The Service may permit you to invite friends to join the Service. If you choose to do so, we will use the e-mail addresses and names you provide to send such invitations, and store this information to register your friends if your invitation is accepted and to track the success of our invitation service.</p>

<h4>Cookies</h4>
<p>When you visit the Service, we may send one or more “cookies” – a small data file – to your computer to uniquely identify your browser and let Company help you log in faster and enhance your navigation through the site. A cookie may convey anonymous information about how you browse the Service to us, but does not collect personal information about you. A persistent cookie remains on your hard drive after you close your browser so that it can be used by your browser on subsequent visits to the Service. Persistent cookies can be removed by following your web browser’s directions. A session cookie is temporary and disappears after you close your browser. You can reset your web browser to refuse all cookies or to indicate when a cookie is being sent.</p>
<h4>Log Files</h4>
<p>Log file information is automatically reported by your browser each time you access a web page. When you use the Service, our servers automatically record certain information that your web browser sends whenever you visit any website. These server logs may include information such as your web request, Internet Protocol (“IP”) address, browser type, referring / exit pages and URLs, number of clicks, domain names, landing pages, pages viewed, and other such information.</p>

</div>