<a href="/" title="Find rock climbing partners" target="_self" class="header"><i></i><span><b>Climb</b>find</span></a>

<div class="login container">
  <p>to continue</p>
  <a class="fb-login-button ion-social-facebook" href="/auth/facebook/callback">
    <span>Login with facebook</span>
  </a>  
</div>
